body{

font-family:Arial;
background:#f3f4f6;
color:#111;

}

header{

background:#1e3a8a;
color:white;
padding:20px;

}

section{

background:white;
padding:20px;
margin:20px;

border-radius:10px;

}

textarea{

width:100%;
height:150px;

}

button{

background:#16a34a;
color:white;
border:none;
padding:10px;
margin:5px;
cursor:pointer;

}

.dark{

background:#030712;
color:white;

}

.dark section{

background:#111827;

}
